<tr> 
    <td><%= shift.user.name%></td>
    <td><%= shift.date %></td> 
    <td><%= shift.time(shift.start) %></td> 
    <td><%= shift.time(shift.finish) %></td> 
    <td><%= shift.break %></td>
    <td><%= shift.hours %></td>
    <td><%= number_to_currency((shift.hours * @organization.hourly_rate).round(2)) %></td>
    <% if current_user.id == shift.user_id %>
        <td><%= link_to 'Edit', edit_organization_shift_path(@organization, shift) %></td>
        <td><%= link_to 'Delete', organization_shift_path(@organization, shift), method: :delete %></td>
    <% end %>
</tr>