<table>
  <tr>
    <th>Employee Name</th>
    <th>Shift Date</th>
    <th>Start Time</th>
    <th>Finish Time</th>
    <th>Break Length (minutes)</th>
    <th>Hours worked</th>
    <th>Shift Cost</th>
  </tr>
  <%= render @shifts %>

  <tr>
    <%= form_with url: organization_shifts_path(@organization) , local: true do |f| %>
    <td>
      <%= current_user.name %>
    </td>
    <td>
      <%= f.date_select :date, :order => [:month, :day, :year] %>
    </td>

    <td>
      <%= f.time_select :start %>
    </td>

    <td>
      <%= f.time_select :finish %>
    </td>

    <td>
      <%= f.text_field :break %>
    </td>

    <td colspan="2">
      <%= f.submit "Create Shift" %>
    </td>
  <tr>
</table>

	<% end %>
