<!DOCTYPE html>
<html>
  <head>
    <title>TandaRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !current_user %>
      <h1><%= link_to 'Adnat', login_path %></h1>
    <% else  %>
      <% if current_user.organization_id == nil %>
          <h1><%= link_to 'Adnat', organizations_path %></h1>
      <% else  %>
        <h1><%= link_to 'Adnat', organization_path(current_user.organization) %></h1>
      <% end %>
      
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <% if current_user%>
      <p>You are logged in as <%= current_user.name %> <%= link_to "Log out", logout_path, method: :delete %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
